*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-color{
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
.btn-color:hover{
    background-color: #367a50;
}

header{
    background-color: #ffffff;
    padding: 24px 0;
    box-shadow: 0px 2px 5px #00000080;
}

nav {
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
    align-items: center;

}
nav .logo {
    width: 139px;
}
.nav-bar .menu  {
    display: flex;
    list-style: none;
    gap: 32px;
    
    font-size: 16px;
    font-weight: 500;
    
}
.menu li{
    display: inline;
}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
a:hover{
    color: #469165;
}
