 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-color{
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
.btn-color:hover{
    background-color: #367a50;
}
.btn-white{
    background-color:#ffffff1a;
    border: 1.5px solid #ffffff;
    padding: 12.5px 16px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}
.btn-white:hover{
    background-color: #ffffff33;
    border-color: #ffffffcc;
}


nav {
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 16px 120px;
    align-items: center;
    width: 85%;
    

}
nav .logo {
    width: 139px;
    cursor: pointer;
}

.nav-bar .menu  {
    display: flex;
    list-style: none;
    gap: 32px;
    
    font-size: 16px;
    font-weight: 500;
    
}
.menu li{
    display: inline;
}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
a:hover{
    color: #469165;
}
.banner{
    margin:0 auto;
   background: url(../assets/hero-bg.png);
   justify-content: center;
    align-items: center;
    display: flex;
    max-width: 1600px;
    padding: 115px 120px 180px;

}
.banner-content{
    max-width: 1360px;
    text-align: center;
    padding:51px 295px 0px;
    margin: 0 auto;

}
.banner-content h3{
    font-size: 16px;
    background-color: white;
    border-radius:50px;
    text-align: center;
    color: #469165;
    width: 229px;
    border-radius: 50px;
    padding: 8px 12px;
    margin: 0 270px 16px;
    font-weight: 400;
}
.banner-content h3:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}
.banner-content h2{
    font-size: 72px;
    font-weight: bold;
    line-height:84px;
    margin-bottom: 16px;
    color: #ffffff;

}
.banner-content h2 .head-color{
    color: #30B868;
}
.banner-content p{
    color: #ffffff;
    margin-bottom: 32px;
    font-size: 18px;
    line-height:24px;

}
.banner .banner-btn{
    display: flex;
    gap:16px;
    align-items: center;
    justify-content: center;
}
/* .about{
    padding-top: 10px; } */


.about-container{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding: 58px 0px;
}
.about-container .section-head h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

}
.section-head p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
.about-info{
    display: flex;
    gap:24px;
    justify-content: space-around;
}
.info-card{
    /* border: 1px solid black; */
    background: #ffffff;
    border-radius: 8px;
    padding: 60px 24px 21px;
    box-shadow: 0px 10px 30px #0000000d;
}
.info-card:hover{
    box-shadow: 0px 10px 30px #00000029;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}
.info-card img{
    width: 64px;
    padding: 15px;
    background-color: #F95555;
    border-radius: 50%;
    margin-bottom: 16px;
    
}
.info-card h4{
    font-size:24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;

}
.info-card p{
    font-size:16px;
    color: #627382;
    line-height: 20px;

}


